:root {
    --body: rgb(20 20 35);
    --text: rgb(240 240 240);
    --header: rgb(45 49 67 / 0.7);
}

*, ::before, ::after {
    font: inherit;
    box-sizing: border-box;
}

iframe, img, picture, canvas, svg, video {
    max-width: 100%;
    display: block;
}

html { scroll-behavior: smooth; }

body {
    background-color: var(--body);
    color: var(--text);
    margin: 0;
    padding: 0;
    font-family: Exo, Arial, Helvetica, sans-serif;
}

@supports (min-height: 100dvh) {
    body {
        min-height: 100dvh;
    }
}

@supports not (min-height: 100dvh) {
    body {
        min-height: 100vh;
    }
}

#header {
    position: relative;
    min-height: 350px;
}

#header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
}

#logo-container {

}

#logo {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#logo-image {
    max-height: 80px;
}

#logo-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

#logo-text {
    font-weight: bold;
    text-transform: uppercase;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.35rem;
}

#navigation-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
}

#trigger {
    display: flex;
    align-items: center;
    padding: 0.7rem;
    text-align: center;
    z-index: 450;

    --icon-size: 1em;
    --icon-stroke: 2px;
    --navigation-transition: all 0.525s cubic-bezier(0.555, -0.205, 0.345, 0.675);

    &, * { cursor: pointer; }

    &:hover {
        cursor: pointer;
        opacity: 0.85;
    }

    &:has(:checked) .hamburger-icon {
        background-color: transparent;

        &::before,
        &::after {
            top: 0;
        }

        &::before {
            rotate: 135deg;
        }

        &::after {
            rotate: -135deg;
        }
    }

    .hamburger-icon {
        position: relative;
        top: -2px;
        vertical-align: middle;

        &,
        &::before,
        &::after {
            display: inline-block;
            border-radius: 2px;
            width: var(--icon-size);
            height: var(--icon-stroke);
            background-color: var(--text);
            transition: var(--navigation-transition);
        }
    }
}
/* #header {
    min-height: 300px;
    position: relative;

    background-color: var(--header-bg);
    background-image: var(--header-bg__image);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;

    &.is-sticky > #header-container {
        position: fixed;
    }

    & > #header-container {
        display: flex;
        align-self: center;
        justify-content: space-between;
        top: 0;
        left: 0;
    }
}

#logo {
    margin: 0;
    padding: 0;

    & > #logo-link {
        display: flex;
        gap: 0.3rem;
        align-items: center;
        padding: 0.6rem;
        text-decoration: none;

        & > :is(#logo-image, #logo-text) {
            vertical-align: middle;
        }

        & > #logo-image {
            max-height: 80px;
        }

        & > #logo-text {
            color: var(--text);
            font-size: 1.1rem;
            text-transform: uppercase;
        }
    }
}

#navigation {
    display: flex;
    align-items: center;

    & > #trigger {
        cursor: pointer;

        & > #trigger-button {
            background: none;
            border: none;
            color: var(--text);
            cursor: inherit;
            display: inline-block;
            font-size: 1.15rem;
            padding: 0.5rem 0.8rem;
            user-select: none;
        }
    }

    & > #navigation-inner {
        display: none;
    }

    &.active > #navigation-inner {
        display: flex;
    }
}

#content-wrapper {
    margin: 0.8rem;

    .section {
        padding: 0.4rem;

        .section-heading {
            font-size: 1.6rem;
        }
    }
}

.affiliate-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.4rem;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;

    .affiliate-item {
        max-width: 475px;
        width: 100%;

        .affiliate-link {
            display: flex;
            align-items: center;
            background-color: var(--affiliate-background, #252565);
            border-radius: 0.6rem;
            color: var(--affiliate-text, #6f6fe8);
            gap: 1rem;
            padding: 0.7rem 1rem;
            text-decoration: none;
            width: 100%;

            .affiliate-logo {
                aspect-ratio: 1 / 1;
                border-radius: 100%;
                max-height: 80px;
            }

            .affiliate-name {
                font-size: 1.1rem;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

#footer {
    background-color: var(--footer);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0.4rem 0.6rem;

    #footer-logo {
        margin: 0;
        padding: 0;
        text-align: center;

        #footer-logo-link {
            display: block;
            padding: 0.6rem 0.7rem;
        }

        #footer-logo-image {
            max-height: 100px;
        }
    }

    #footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-section {
        padding: 0 1.3rem;

        .footer-section-title{
            font-size: 1.1rem;
            text-transform: uppercase;
        }

        .footer-list {
            list-style: none;
            margin: 0;
            padding: 0;
            
            .footer-item {
                text-transform: uppercase;
                font-weight: bold;

                .footer-link {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }

    .socials-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        list-style: none;
        margin: 0;
        padding: 0;

        > .socials-item {
            font-size: 1.4rem;

            > .socials-link {
                color: inherit;
                display: block;
            }
        }
    }
} */