@import "https://fonts.googleapis.com/css?family=Exo";

:root {
    --bg-color-light: #edf6ff;
    --fg-color-light: #13171b;
	--header-color-light: #afd7fa;
	--header-fg-color-light: #161b25;
	--header-link-color-light: #a3bfdf;
	--subnav-color-light: #87b6f5;
	--subnav-fg-color-light: #2a2f33;
	--button-color-light: #0039a6;
	--button-fg-color-light: #eeeeee;
	--shadow-color__rgb-light: 20 24 29;
    --reveal-color__rgb-light: 15 17 20;
    --reveal-border-color__rgb-light: 8 10 16;
    --shade-light: black;
	/* Dark mode */
	--bg-color-dark: #1a1d20;
	--fg-color-dark: #dfe0e5;
	--header-color-dark: #242535;
	--header-fg-color-dark: #edf7ff;
	--header-link-color-dark: #2a3444;
	--subnav-color-dark: #1b242f;
	--subnav-fg-color-dark: #dde1f7;
	--button-color-dark: #3c7bcc;
	--button-fg-color-dark: #1a1f23;
	--shadow-color__rgb-dark: 215 226 231;
    --reveal-color__rgb-dark: 235 238 245;
    --reveal-border-color__rgb-dark: 240 246 255;
    --shade-dark: white;
	/* Root options */
	--root-font-size: 16px;
	--nav-border-radius: 4px;

	font-family: Exo, Arial, Helvetica, sans-serif;
	font-size: var(--root-font-size);
}

body {
    --bg-color: var(--bg-color-light);
	--fg-color: var(--fg-color-light);
	--header-color: var(--header-color-light);
	--header-fg-color: var(--header-fg-color-light);
	--header-link-color: var(--header-link-color-light);
	--subnav-color: var(--subnav-color-light);
	--subnav-fg-color: var(--subnav-fg-color-light);
	--button-color: var(--button-color-light);
	--button-fg-color: var(--button-fg-color-light);
	--shadow-color__rgb: var(--shadow-color__rgb-light);
    --reveal-color__rgb: var(--reveal-color__rgb-light);
    --reveal-border-color__rgb: var(--reveal-border-color__rgb-light);
    --shade: var(--shade-light);

	background-color: var(--bg-color);
	color: var(--fg-color);
	height: 100vh;
	margin: 0;
	padding: 0;
}

@media (prefers-color-scheme: dark) {
	body {
		--bg-color: var(--bg-color-dark, var(--bg-color-light));
		--fg-color: var(--fg-color-dark, var(--fg-color-light));
		--header-color: var(--header-color-dark, var(--header-color-light));
		--header-fg-color: var(--header-fg-color-dark, var(--header-fg-color-light));
		--header-link-color: var(--header--link-color-dark, var(--header-link-color-dark));
		--subnav-color: var(--subnav-color-dark, var(--subnav-color-light));
		--subnav-fg-color: var(--subnav-fg-color-dark, var(--subnav-fg-color-light));
		--button-color: var(--button-color-dark, var(--button-color-light));
		--button-fg-color: var(--button-fg-color-dark, var(--button-fg-color-light));
		--shadow-color__rgb: var(--shadow-color__rgb-dark, var(--shadow-color__rgb-light));
        --reveal-color__rgb: var(--reveal-color__rgb-dark, var(--reveal-color__rgb-light));
        --reveal-color__rgb: var(--reveal-border-color__rgb-dark, var(--reveal-border-color__rgb-light));
        --shade: var(--shade-dark, var(--shade-light));
	}
}

#pw-container {
	margin: auto;
	width: 100vw;
	height: 100vh;
}

#pw-header {
    background-color: var(--header-color);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

#pw-header-top {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	gap: 4px;
	justify-content: space-between;
	align-content: center;
	padding: 8px;
}

#pw-controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4px;
	align-content: center;
}

#pw-search {
	margin: 0;
	padding: 0;
}

#pw-controls .pw-control-button {
	background: none;
	border: none;
	border-radius: 100%;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	padding: 12px;
	position: relative;
	transition: all 400ms ease-in-out;
}

#pw-controls .pw-control-button:hover::before {
    background-color: rgb(var(--reveal-color__rgb) / 0.5);
}

#pw-controls .pw-control-button::before {
    content: "";
    position: absolute;
    inset: 0;

    border: 1px solid rgb(var(--reveal-border-color__rgb) / 0.5);
    mask-image: radial-gradient(circle closest-side, var(--shade), transparent);
    mask-origin: border-box;
    mask-position: var(--mask-position, inherit);
    mask-size: var(--mask-size, inherit);
    mask-repeat: space;
}

#pw-controls .pw-svg-icon {
	aspect-ratio: 1 / 1;
	display: inline-block;
	height: 30px;
}

#pw-controls .pw-search-icon {
	fill: none;
	stroke: var(--fg-color);
	stroke-width: 6px;
}

#pw-controls .pw-nav-icon {
	fill: var(--fg-color);
}

#pw-title {
	margin: 0;
	padding: 0;
}

#pw-logo {
	display: inline-block;
}

#pw-logo-image {
	max-height: 75px;
}

#pw-navigation {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

@media screen and (width <= 672px) {
	#pw-navigation {
		display: none;
	}

	#pw-header {
		position: relative;
	}
}

#pw-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4px;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#pw-nav > .pw-nav-item {
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
}

#pw-nav > .pw-nav-item > .pw-nav-link {
	color: inherit;
	display: inline-block;
	padding: 15px 25px;
	text-decoration: none;
}

#pw-nav > .pw-nav-item:hover > .pw-nav-link {
	background-color: var(--header-link-color);
}

#pw-nav > .pw-nav-item > .pw-subnav {
	background-color: var(--header-link-color);
	display: none;
	padding: 4px 8px;
	position: absolute;
	right: 0;
	top: 100%;
	width: 100%;
}

#pw-nav > .pw-nav-item:hover > .pw-subnav {
	display: flex;
}

#pw-nav .pw-subnav > .pw-subnav-list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#pw-nav .pw-subnav > .pw-subnav-list > .pw-subnav-item {
	position: relative;
}

#pw-nav .pw-subnav > .pw-subnav-list > .pw-subnav-item:hover > .pw-subnav-link {
	background-color: var(--subnav-color);
}

#pw-nav .pw-subnav > .pw-subnav-list > .pw-subnav-item > .pw-subnav-link {
	color: inherit;
	display: block;
	padding: 14px 22px;
	text-decoration: none;
}

#pw-nav .pw-subnav .pw-subnav-inner {
	background-color: var(--subnav-color);
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	display: none;
}

#pw-nav .pw-subnav > .pw-subnav-list > .pw-subnav-item:hover > .pw-subnav-inner {
	display: block;
}

#pw-nav .pw-subnav .pw-subnav-inner > .pw-subnav-inner-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

#pw-nav .pw-subnav .pw-subnav-inner > .pw-subnav-inner-list > .pw-subnav-inner-item {
	position: relative;	
}

#pw-nav .pw-subnav .pw-subnav-inner > .pw-subnav-inner-list > .pw-subnav-inner-item > .pw-subnav-inner-link {
	color: inherit;
	display: block;
	padding: 15px 23px;
	text-decoration: none;	
}